.form__container{
    background-image: url("./../images/form-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    min-height: 90dvh;

    
    .container{
        background-color: var(--bg-grey);
        min-width: 400px;
        width: fit-content;

        padding: var(--gap-s);
        position: relative;
    }

    .btn{
        border: none;
    }

}


/*? To show message according form submission */
.message__error{
    background-color: #ffa43cc4; 
    padding: .5rem;
}

.message__success{
    background-color: #008000cc; 
    padding: .5rem;
}

.message__info{
    background-color: #ccc; 
    padding: .5rem;
}

.message__text{
    text-align: center; 
    color: #fff;
}

.message__alert{
    position: absolute;
    bottom: calc(100% - var(--heading-secondary) * 2.6);
    right: var(--gap-s);
    left: var(--gap-s);
}

.form{
    display: flex;
    flex-direction: column;
    gap: var(--gap-r);
    font-size: var(--fs-l);
}
.form__input_box{
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);

    input{
        border: none;
        font-size: var(--fs-r);
        padding: .1em .3em;
        font-family: var(--ff-montserrat);

        &:focus{
            /* background-color: var(--fc-white-warm); */
            background-color: #E2E7F2;
            outline: none;
        }
    }
}