
/* ? Hero Section ? */
.hero{
    background-image: url("./../images/hero_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    min-height: 90dvh;
    border: none ;
}

.hero > .container{
    max-width: 37.5rem;
}

.hero__text{
    font-size: var(--fs-l);
    font-weight: 400;
}

/*? department & doctor Section */

.department__cards,
.doctors__cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    column-gap: var(--gap-l);
    row-gap: var(--gap-xl);
}

.department__card,
.doctors__card{
    display: flex;
    flex-direction: column;
    gap: var(--gap-r);

    background-color: var(--bg-grey);
    padding: var(--gap-r);
}

.card__img{
    height: 18.75rem;
}

/*?-----Testimonials-----?*/

.testimonial__cards{
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}

.testimonial__card{
display: flex;
flex-direction: column;
background-color: var(--bg-blue);
position: relative;
max-width: 37.5rem;
color: var(--fc-white-warm);
margin: 0 auto;
}
.testimonial__img_container{
    width: 9.37rem;
    height: 9.37rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--bg-blue);
    position: absolute;
    top: -25%;
    left: 50%;
    padding: .153em;
    transform: translateX(-50%);
}
.testimonial__img{
    width: 9rem;
    height: 9rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.testimonial__review{
    padding: 5rem var(--gap-l) 0;
}
.ratings{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4em;
    margin-bottom: var(--gap-s);
}
