html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar{
    display: none;
    position: relative;
}

/* ============================== Nav Bar ================================= */
.nav_bar {
    background-color: #81689D;
    padding: .5rem 0;
    font-size: 2rem;
    color: #FFD0EC;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_logo {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.logo_img{
    width: 5rem;
    height: 4rem;
}

.nav_items {
    display: flex;
    align-items: center;
    gap: 2rem;
}

ul li {
    list-style-type: none;
}

a,
a:link,
a:visited,
a:active {
    color: #e4c8c8;
    text-decoration: none;
}


/* ============================= Footer ================================== */
.footer-distributed{
	background: #81689D;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}


.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer logo */
.footer_logo{
    display: flex;
    gap: 2rem;
    /* justify-content: center; */
    align-items: center;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #FFD0EC;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
    font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #33383b;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #FFD0EC;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #FFD0EC;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #ffa43c;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #FFD0EC;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	text-align: center;
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #33383b;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #FFD0EC;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #FFD0EC;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}
