.hidden{
    display: none !important;
}
.space{
    height: 50vh;
    width: 100vw;
}

:root {
    /* Fonts */
    --heading-primary: 3.43rem;
    --heading-secondary: 2.62rem;
    --heading-tertiary: 2.25rem;
    --heading-four: 1.75rem;
    --fs-xl: 1.5rem;
    --fs-l: 1.25rem;
    --fs-r: 1rem;
    --fs-s: .87rem;
    --fs-xs: 0.62rem;


    /* Font Family */
    --ff-roboto : "Roboto Condensed";
    --ff-platypi : "Platypi";
    --ff-montserrat : "Montserrat";


    /* Spacings */
    --space-xl: 7.5rem;
    --space-l: 5rem;
    --space-r: 3.75rem;
    --space-s: 2.5rem;


    /* Gaps */
    --gap-xl: 4rem;
    --gap-l: 2rem;
    --gap-r: 1rem;
    --gap-s: .8rem;
    --gap-xs:.4rem;


    /* Color variables */
    --bg-green: #2DA95C;
    --bg-blue: #033B4A;
    --bg-grey: #9DABAF;
    --bg-blue-two: #173C96;
    --clr-orange: #FFA33C;

    /* Font Colors */
    --fc-black: #222222;
    --fc-gray-dark: #121521;
    --fc-gray-charcol: #444444;
    --fc-white-warm: #f5f0e1;
    --fc-white: #ffffff;
}

/* ? Reset ? */
html{
    scroll-behavior: smooth;
}

*,*::after, *::before{
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p{
    margin: 0;
}

ol,
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    line-height: 1;
}

a:link,
a:visited{
    text-decoration: none;
    color: inherit;}

h1,
h2,
h3,
h4{
    font-family: var(--ff-platypi);
    pointer-events: none;
    line-height: 1.1;
}

h1{
    color: var(--bg-blue);
}
h1,
h2{
    font-size: var(--heading-secondary);
}
h3{
    font-size: var(--fs-xl);
    font-size: var(--heading-four);
}

.sub__heading{
    font-family: var(--ff-montserrat);
    font-weight: 700;
    font-size: var(--fs-xl);
    color: var(--fc-gray-charcol);
}

img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

body{
    font-family: var(--ff-roboto, sans-serif);
    color: var(--fc-gray-dark);
    /* background-image: linear-gradient(to bottom left, var(--bg-blue-two), var(--bg-blue)); */
}

.container{
    margin: 0 auto;
    max-width: 100rem;
}

section{
    padding: var(--space-xl) var(--space-l);
    border-bottom: 1px solid var(--bg-grey);
}

.btn{
    font-family: var(--ff-montserrat);
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: .8em 2em;
    background-color: var(--bg, var(--bg-blue));
    color: var(--fg, var(--fc-white-warm));
    transition: background .2s ease-in-out;
    cursor: pointer;
}

.btn-blue{
    --bg: var(--bg-blue);
    --fg: var(--fc-white-warm);

    &:hover{
        --bg: var(--bg-blue-two);
    }
}
.btn-green{
    --bg: var(--bg-green);
    --fg: var(--fc-white-warm);

    &:hover{
        --bg: var(--bg-blue-two);
    }
}


/* ? Utilities ? */
.flow-content > * + *{
    margin-top: var(--gap-r);
}

.mb-xs{
    margin-bottom: var(--space-s);
}
.mb-s{
    margin-bottom: var(--space-r);
}

.mb-mid{
    margin-bottom: var(--space-l);
}
.mb-big{
    margin-bottom: var(--space-xl);
}

.text-center{
    text-align: center;
}

.b-bt{
    box-shadow: inset 0px -2px 1px rgba(0, 0, 0, .1);
    transition: box-shadow .5s ease-in-out;
}


/* ?----NEVBAR----? */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fs-l);
    font-weight: 500;
    padding: .4em 3em;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--fc-white);
    z-index: 9999;
}
#username{
    color: #FFA33C;
}
.logo__container{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: var(--ff-platypi);
    font-weight: 700;
}
.logo__container li{
    line-height: 0;
}
.logo{
    max-width: 3.75rem;
    max-height: 3.75rem;
}
.logo__container span{
    color: var(--clr-orange);
}

.header__nav{
    display: flex;
    gap: var(--gap-r);
}

.user__session{
    display: flex;
    gap: var(--gap-r);
    align-items: center;
}

/* ?----Footer----? */
.footer{
    display: flex;
    justify-content: space-between;
    padding: var(--space-s) var(--space-s) var(--gap-s);
}

.footer > *{
    padding: inherit;
}

.footer__nav{
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    flex-basis: 33%;
}

.footer__nav_links{
    display: flex;
    gap: var(--gap-s);
}
.footer__nav_links > * + *{
    border-left: 1px solid black;
    padding-left: var(--gap-s);
}

.footer__copyright{
    font-size: var(--fs-s);
    color: var(--fc-gray-charcol);
}

.footer__address{
    display: flex;
    flex-direction: column;
    gap: var(--gap-r);
    font-weight: 500;
}

.footer__address_content{
    display: flex;
    align-items: center;
    gap: var(--gap-r);
}

.footer .icon{
    background-color: var(--clr-orange);
    color: var(--fc-black);
    font-size: var(--fs-xl);
    padding: .2em;
    border-radius: 50%;
}

.footer__article{
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
}

.footer__article .footer__nav_links > * + *{
    border: none !important;
}