{% extends "layout.html" %}
{% block title %} about {% endblock title %}
{% block body %}
<section class="about_section">
    <div class="about_container">
        <div class="about_content">
            <h1 style="font-size: 5rem;">Med Meetup</h1>
            <p style="color: #00224D;">We belive in revolutionizing healthcare access by making it convenient and efficient for individuals to schedule
                appointments with healthcare professionals accross all departments. As a premier hospital-based appointment booking platform, 
                we understand the importance of timely access to healthcare services and strive to bridge the gap between patients and doctors.
            </p>
        </div>
        <div class="about_img">
            <img src="../static/images/about.png">
        </div>
    </div>
    <div class="about_details">
        <div class="about_vision">
            <div>
                <h1 style="color: #FFA33C;">Our Vision</h1>
                <p>"To become the foremost global platform, seamlessly connected individuals with healthcare professionals across all 
                    specialties, revolutionizing healthcare access and ensuring timely, quality care for all."
                </p>
            </div>
            <img src="../static/images/vision.png">
        </div>
        <div class="about_mission">
            <img src="../static/images/mission.png">
            <div>
                <h1 style="color: #FFA33C;">Our Mission</h1>
                <p>"Our mission is to empower individuals by providing convenient access to healthcare services through out user-friendly
                    platform. We strive to bridge the gap between patients and doctors. offering efficient appointment scheduling across all
                    hospital departments. By prioritizing transparency and quality care, we aim to revolutionize healthcare access and enhance
                    the overall patient experience."
                </p>
            </div>
        </div>
    </div>
    
</section>
{% endblock body %}