{% extends "layout.html" %}
{% load static %}
{% block title %} Appointment {% endblock title %}

{% block body %}
<!-- ============================= Body Start ========================= -->
<section class="form__container">

<div class="container">

    <h1 class="mb-s">Appointment</h1>

    <!-- ---------------- alert message ----------------- -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
            {% if message.tags %}
                <div class="
                    {% if 'info' in message.tags %}
                        message__error
                    {% elif 'success' in message.tags %}
                        message__success
                    {% else %}
                        message__info
                    {% endif %} message__alert
                " >
                    <p class="message__text">{{ message }}</p>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <!-- ============================= Form Start ========================= -->
    <form method="post" class="form">
        {% csrf_token %}

            <!-- ----------------- Form items ----------------- -->
            <div class="form__input_box">
                <label>Patient Name</label>
                <input type="text" name="patient_name" placeholder="Enter patient name" required>
            </div>

            <div class="form__input_box">
                <label>Patient Age</label>
                <input type="text" name="patient_age" placeholder="Enter age">
            </div>

            <div class="form__input_box">
                <label>Email</label>
                <input type="email" name="patient_email" placeholder="Enter email" required>
            </div>

            <div class="form__input_box">
                <label>Mobile Number</label>
                <input type="text" name="patient_mobile" placeholder="Enter mobile number" required>
            </div>

            <div class="form__input_box">
                <label>Date</label>
                <input type="date" name="date" required>
            </div>

            <div class="form__input_box">
                <label>Doctor</label>
                <select name="doctor" required>
                    <option>--Select-Doctors--</option>
                    {% for doctor in doctors %}
                    <option value="{{doctor.doctor_name}}">{{doctor.doctor_name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form__input_box">
                <label>Department</label>
                <select name="department">
                    <option>--Select-Department--</option>
                    {% for department in departments %}
                    <option value="{{department.department_name}}">{{department.department_name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form__input_box">
                <input class="btn btn-green" type="submit" value="Submit">
            </div>

    </form>
</div>
</section>

<!-- ============================= Body End ========================= -->
{% endblock body %}