{% extends "layout.html" %}
{% block title %} contact {% endblock title%}
{% block body %}
<!-- ================================ Body ================================== -->
<section class="form__container">
    <div class="container">
        <h1 class="mb-s">Contact Us</h1>

        <!-- --------------- alert message ----------------- -->
        {% if messages %}
<div class="messages">
    {% for message in messages %}
    {% if message.tags %}
    <div class="
        {% if 'info' in message.tags %}
            message__error
        {% elif 'success' in message.tags %}
            message__success
        {% else %}
            message__info
        {% endif %} message__alert
    " >
        <p class="message__text">{{ message }}</p>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}


        <!-- =============================== Form ================================= -->
        <form method="post" class="form">
            {% csrf_token %}

            <div class="form__input_box">
                <label>Full Name</label>
                <input type="text" name="name" placeholder="Enter your name" required>
            </div>

            <div class="form__input_box">
                <label>Email</label>
                <input type="email" name="email" placeholder="Enter your email" required>
            </div>

            <div class="form__input_box">
                <label>Message</label>
                <textarea name="message" cols="50" rows="6" required></textarea>
            </div>

            <div class="form__input_box">
                <input class="btn btn-green" type="submit" value="Submit">
            </div>
        </form>
        <!-- ========================== Form End ===============================  -->
    </div>
</section>
<!-- ================================ Body End ================================== -->
{% endblock body %}