{% extends "layout.html" %}
{% block title %} department {% endblock title %}
{% block body %}
<section class="doctor">
    <div class="doctor_container">
        <div>
            <img class="doctor_image" src="/media/{{queryset.department_image}}">
        </div>
        <div class="doctor_data">
            <div doctors_details_items>
                <h1>{{queryset.department_name}}</h1>
            </div>
            <div doctors_details_items>
                <i class="fa-solid fa-circle-info"></i>
                <h3>{{queryset.department_description}}</h3>
            </div>
        </div>
    </div>
</section>
{% endblock body %}