{% extends "layout.html" %}
{% block title %} about {% endblock title %}
{% block body %}

<section class="section">
    <!-- ============================= Body ========================= -->
    <div class="container">
      
      <h1>Reset Password</h1>
      
      <!-- ------------------- alert message ------------------- -->
      {% if messages %}
        <div class="messages" style="width: 100%;">
            {% for message in messages %}
            {% if message.tags %}
                {% if 'info' in message.tags %}
                    <div class="info" style="background-color: #ffa43cc4; padding: .5rem;">
                {% elif 'success' in message.tags %}
                    <div class="success" style="background-color: #008000cc; padding: .5rem;">
                {% else %}
                    <div class="other" style="background-color: #ccc; padding: .5rem;">
                {% endif %}
                    <p style="text-align: center; color: #fff;">{{ message }}</p>
                </div>
            {% endif %}
            {% endfor %}
        </div>
          {% endif %}
    
      <!-- ============================= Form ========================= -->
      <form method="post" class="form">
        {% csrf_token %}
        
        <div class="form_items">
          <label>Username</label>
          <input type="text" name="username" placeholder="username" />
        </div>
        
        <div class="form_items">
          <label>Password</label>
          <input type="password" name="password" placeholder="password" />
        </div>

        <div class="form_items">
          <label>Confirm Password</label>
          <input type="password" name="confirm_password" placeholder="password" />
        </div>
        
        <div class="form_items">
          <input type="submit" value="Reset">
        </div>
  
      </form>
      <!-- ============================= Form End ========================= -->
  
      <div>
        <p>Not have an account? <a class="link" href="/auth/signup"> SignUp </a></p>
      </div>
  
    </div>
    <!-- ============================= Body End ========================= -->
  
  </section>

{% endblock body %}