{% extends "layout.html" %}
{% block title %} registor {% endblock %}


{% block body %}
<!-- ============================= Signin Section ========================= -->
<section class="section">
    <!-- ============================= Body ========================= -->
    <div class="container">

        <h1>Registration</h1>
        
        <!-- --------------- alart message --------------- -->
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            {% if message.tags %}
            <div class="{{ message.tags }}">
              <p>{{ message }}</p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
      {% endif %}

        <!-- ============================= Form Start ========================= -->
        <form method="post" class="form">
            {% csrf_token %}


            <div class="form_items">
                <label>First name</label>
                <input type="text" name="first_name" placeholder="Enter your first name">
            </div>

            <div class="form_items">
                <label>Last name</label>
                <input type="text" name="last_name" placeholder="Enter your last name">
            </div>

            <div class="form_items">
                <label>Email</label>
                <input type="email" name="email">
            </div>

            <div class="form_items">
                <label>Username</label>
                <input type="text" name="username">
            </div>

            <div class="form_items">
                <label>Password</label>
                <input type="password" name="password">
            </div>

            <div class="form_items">
                <input type="submit" value="Sign-up">
            </div>
        </form>
        <!-- ============================= Form End ========================= -->

        <div>
            <p>Already have an account? <a class="link" href="signin">SignIn</a></p>
        </div>
    </div>
    <!-- ============================= Body End ========================= -->
</section>
<!-- ============================= Signin Section End ========================= -->
{% endblock %}