{% extends "layout.html" %}
{% block title %} registor {% endblock %}


{% block body %}
<!-- ============================= Signin Section ========================= -->
<section class="form__container">
    <!-- ============================= Body ========================= -->
    <div class="container">
        <h1 class="mb-s">Registration</h1>   
        <!-- --------------- alart message --------------- -->
    {% if messages %}
        <div class="messages">
        {% for message in messages %}
        {% if message.tags %}
            <div class="
                {% if 'info' in message.tags %}
                    message__error
                {% elif 'success' in message.tags %}
                    message__success
                {% else %}
                    message__info
                {% endif %} message__alert
            " >
                <p class="message__text">{{ message }}</p>
            </div>
        {% endif %}
        {% endfor %}
        </div>
    {% endif %}


        <!-- ============================= Form Start ========================= -->
        <form method="post" class="form">
            {% csrf_token %}


            <div class="form__input_box">
                <label>First name</label>
                <input type="text" name="first_name" placeholder="Enter your first name">
            </div>

            <div class="form__input_box">
                <label>Last name</label>
                <input type="text" name="last_name" placeholder="Enter your last name">
            </div>

            <div class="form__input_box">
                <label>Email</label>
                <input type="email" name="email">
            </div>

            <div class="form__input_box">
                <label>Username</label>
                <input type="text" name="username">
            </div>

            <div class="form__input_box">
                <label>Password</label>
                <input type="password" name="password">
            </div>

            <div class="form__input_box">
                <input class="btn btn-green" type="submit" value="Sign-up">
            </div>
        </form>
        <!-- ============================= Form End ========================= -->

        <div>
            <p>Already have an account? <a class="link" href="signin">SignIn</a></p>
        </div>
    </div>
    <!-- ============================= Body End ========================= -->
</section>
<!-- ============================= Signin Section End ========================= -->
{% endblock %}